.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background-color: var(--background);
}
.container .chatRoomName{
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 500;
    color: #303030;
    margin: .8em 0!important;
}
#chatRoom .card{
    width:60vw;
    max-width: 60em;
    min-width:20em;
    height: 85vh !important;
    max-height: unset !important;
    margin-bottom: 2em;
}
#chatRoom main{
    background-color: var(--base);
    display: flex;
    flex-direction: column;
    flex:10;
    padding:  clamp(1.5em,3vw,3em);
    gap: .5em;
}
#chatRoom footer{
    flex:1;
    min-height: 2em;
    background-color: var(--base);
    border-top: 1px solid var(--borderColor);
    display: flex;
    overflow: hidden;
    position: relative;
}
#chatRoom input[type=text]{
    resize: none;
    flex:1;
    border: none;
    outline: none !important;
    padding: 0 5em 0 1em;
    color: #303030;
    font-weight: 500;
    background-color: transparent;
    font-size: 1em;
    caret-color: var(--primary);
}
#chatRoom .sendButton__container{
    position: absolute;
    inset: 0;
    left:unset;
    display: flex;
    align-items: center;
    margin-right: .5em;
}
#chatRoom .sendButton{
    background-color: var(--primary);
    height: 2.25rem;
    width: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 100%;
    color: var(--base);
    -webkit-box-shadow: 0px 10px 9px -6px rgba(61,61,61,0.65);
    -moz-box-shadow: 0px 10px 9px -6px rgba(61,61,61,0.65);
    box-shadow: 0px 10px 9px -6px rgba(61,61,61,0.65);
    transition: .2s ease-in-out;
    cursor: pointer;
}
#chatRoom .sendButton:hover{
    animation: sendButtonHover 1s ease-in-out infinite;
    
}
@keyframes sendButtonHover {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(0%);
    }
}
.textBubbleContainer{
    width: 100%;
    position: relative;
    margin-bottom: 4em;
}
.textBubble{
    background-color: var(--primary);
    height: auto;
    width: max-content;
    padding: .5em 1.25em;
    border-radius: 15px;
    background-color: var(--base);
    border: 2px solid var(--borderColor);
    font-size: clamp(.8em,1vw,1vw);
    font-weight: 500;
    color: #303030;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .1em;
}
.senderOfText{
    color: var(--primary);
}
.sent{
    right:0;
    border: 2px solid var(--primary);
}
.received{
    left:0;
}