@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
   }
:root{
    --base:#fff;
    --background:#eee;
    --borderColor: #bebebe;
    --primary:orangered
}
.card > header{
    padding: 0 1em;
    background-color: var(--primary);
    color: var(--base);
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
.card h4 span{
    color:rgb(96, 26, 0)
}
.card__content{
    height: 100%;
    padding: 2em 0;
}
.card__content form{
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 100%;
    gap: 1em;
    padding: 0 1.5em;
}
.card__content input{
    padding: .8em;
    border: 0;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    font-weight: 500;
    font-size: .9em;
}
.card__content input:first-child:focus, input:nth-child(2):focus{
    outline: 1px solid var(--primary);
}
.card__content input[type=submit]{
    background-color: var(--base);
    color: var(--primary);
    font-weight: 600;
    font-size: .8em;
    border: 2px solid var(--primary);
    transition: .2s ease-in-out;
    cursor: pointer;
}
.card__content input[type=submit]:hover{
    background-color: var(--primary);
    color: var(--base);
}