@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
   }
:root{
    --base:#fff;
    --background:#eee;
    --borderColor: #bebebe;
    --primary:orangered
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background-color: var(--background);
}
.card{
    width:30vw;
    max-width: 25em;
    min-width: 15em;
    height: auto;
    max-height: 55vh;

    background-color:  var(--base);
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}